<ion-header>
  <ion-toolbar color="primary" *ngIf="song">
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{song.id}}. {{song.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-text-center" *ngIf="song">
  <p>
    <ion-title>1</ion-title>
    {{song.verse1}}
  </p>
 
  <p>
    <ion-title>2</ion-title>
    {{song.verse2}}
  </p>
  <p>
    <ion-title>3</ion-title>
      {{song.verse3}}
  </p>
  <p>
    <ion-title>4</ion-title>
    {{song.verse4}}
  </p>
  <p>
    <ion-title>5</ion-title>
    {{song.verse5}}
  </p>
  <p>
    <ion-title>6</ion-title>
    {{song.verse6}}
  </p>
</div>
</ion-content>
