input[type="range"] {
    width:85%;
    
  }

  .sliderContainer{
    padding-top:2%;
    padding-bottom:2%;
    padding-left:6%;
    
  }
  .item-content{
    padding-top:0px !important;
    padding-bottom:0px !important;
  }
  .divi{
    font-size: 4px;
}
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 10%; 
    background: purple;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
  }
