@font-face { 
    font-family: 'Roboto'; 
    font-style: normal; 
    font-weight: normal; 
    src: url('src/assets/fonts/roboto-v20-latin-regular.ttf'); 
}

@font-face { 
    font-family: 'Lato'; 
    font-style: normal; 
    font-weight: normal; 
    src: url('src/assets/fonts/lato-v16-latin-regular.ttf');
} 

@font-face { 
    font-family: 'Libre Franklin'; 
    font-style: normal; 
    font-weight: normal; 
    src: url('src/assets/fonts/libre-franklin-v4-latin-regular.ttf'); 
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/FUTURA.ttf');
}

@font-face {
    font-family: 'sans-copperplategothic';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/sans-copperplategothic.ttf');
}
